.App {
  text-align: center;
  margin-top: 100px;
}

.App > p {
  padding: 30px;
}

.buttonOne {
  padding: 10px 100px;
  cursor: pointer;
  background: rgb(229, 231, 235);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

.buttonTwo {
  padding: 10px 100px;
  cursor: pointer;
  background: rgb(229, 231, 235);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

.buttonStyle {
  padding: 10px 100px;
  cursor: pointer;
  background: rgb(229, 231, 235);
  border-radius: 0.5rem;
  padding: 0.5rem 1rem;
  border: 1px solid black;
  margin: 1rem 0.3rem;
}

.script__style {
  border: 1px solid black;
  display: block;
  padding: 10px;
  margin: 20px 700px;
}
